* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
    font-size: 18px;
    font-family: 'Hanken Grotesk';
}

:root {
    /* Colors */

    /* Primary */
    --LightRed:      hsl(0, 100%, 67%);
    --OrangeyYellow: hsl(39, 100%, 56%);
    --GreenTeal:     hsl(166, 100%, 37%);
    --CobaltBlue:    hsl(234, 85%, 45%);

    /* Gradients */

    /* Background */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
    /* Circle */
    --VioletBlue:     hsla(256, 72%, 46%, 1);
    --PersianBlue:    hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White:         hsl(0, 0%, 100%);
    --PaleBlue:      hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue:  hsl(224, 30%, 27%);

    /* Border Round */
    --BorderCard: 30px;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items:flex-start;
    justify-content: center;
    height: 100vh;
    background-color: var(--White);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 359px;
    width: 375px;
    background: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    border-bottom-left-radius:  var(--BorderCard);
    border-bottom-right-radius: var(--BorderCard);

    & .title {
        font-size: 1rem;
        font-weight: 700;
        color: var(--LightLavender);
        padding-top:    24px;
        padding-bottom: 24px;
    }

    & .circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 140px;
        width:  140px;
        background: linear-gradient(var(--VioletBlue), var(--PersianBlue));
        border-radius: 50%;

        & .circle-main {
            font-size: 3rem;
            font-weight: 800;
            color: var(--White);
            padding-top: 30px;
        }

        & .circle-of {
            font-size: 0.85rem;
            font-weight: 700;
            color: var(--LightLavender);
        }
    }

    & .sub-title {
        font-size: 1.25rem;
        font-weight: 700;
        padding-top:    28px;
        padding-bottom:  9px;
        color: var(--White);
    }

    & .comment {
        font-size: 0.88rem;
        font-weight: 500;
        color: var(--LightLavender);
        padding-inline: 52px;
        text-align: center;
    }
}

.summary {
    display: flex;
    justify-content: center;
    align-items: center;

    & .summary-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 292px;

        & .title {
            font-size: 1rem;
            font-weight: 700;
            color: var(--DarkGrayBlue);
            padding-top: 25px;
            padding-bottom: 25px;
        }

        & .items {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .row:nth-child(1) {
                background-color: color-mix(in oklab, 
                    var(--LightRed) 6%, 
                    transparent 100%);
                & .category {
                    color: var(--LightRed);
                }
            }

            & .row:nth-child(2) {
                background-color: color-mix(in oklab, 
                    var(--OrangeyYellow) 6%, 
                    transparent 100%);
                & .category {
                    color: var(--OrangeyYellow);
                }
            }

            & .row:nth-child(3) {
                background-color: color-mix(in oklab, 
                    var(--GreenTeal) 6%, 
                    transparent 100%);
                & .category {
                    color: var(--GreenTeal);
                }
            }

            & .row:nth-child(4) {
                background-color: color-mix(in oklab, 
                    var(--CobaltBlue) 6%, 
                    transparent 100%);
                & .category {
                    color: var(--CobaltBlue);
                }
            }

            & .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-block: 16px;
                padding-inline: 15px;
                border-radius: 10px;
                font-size: 0.87rem;
                font-weight: 700;

                & .category {
                    display: flex;
                    font-size: inherit;

                    & img {
                        padding-right: 12px;
                    }
                }

                & .score {
                    font-size: inherit;
                    & span {
                        font-size: inherit;
                        color: var(--LightLavender);
                    }
                }
            }
        }

        & button {
            margin-top: 24px;
            padding: 17px;
            border: none;
            border-radius: 40px;
            background-color: var(--DarkGrayBlue);
            color: var(--White);
            transition: all 250ms ease-in-out;

            &:active {
                background-color: var(--CobaltBlue);
            }

            &:hover, &:focus {
                outline: 7px solid var(--LightLavender);
                cursor: pointer;
            }
        }
    }
}

.attribution { 
    font-size: 11px;
    text-align: center;
    padding-bottom: 5px;

    & a {
        font-size: inherit;
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width: 738px) {
    body {
        align-items: center;
        justify-content: center;
    }
    .card {
        display: flex;
        flex-direction: row;
        width: 736px;
        height: 512px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: var(--BorderCard);

        & .result {
            height: 100%;
            width: 50%;
            border-top-left-radius:  var(--BorderCard);
            border-top-right-radius: var(--BorderCard);

            & .title {
                font-size: 1.2rem;
                padding-top: 38px;
                padding-bottom: 37px;
            }

            & .circle {
                height: 200px;
                width: 200px;

                & .circle-main {
                    font-size: 4rem;
                    line-height: 1;
                    padding-top: 55px;
                }

                & .circle-of {
                    font-size: 1rem;
                    padding-top: 4px;
                }
            }

            & .sub-title {
                padding-top: 30px;    
                font-size: 1.7rem;            
            }

            & .comment {
                padding-top: 5px;
                font-size: 1rem;
            }
        }

        & .summary {
            height: 100%;
            width: 50%;
            
            & .summary-wrapper {
                flex-grow: 1;
                padding-inline: 40px;
                width: 288px;
                height: 425px;
                justify-content: flex-start;

                & .title {
                    padding-top: 0px;
                    font-size: 1.34rem;
                    line-height: 1;
                }

                & .items {
                    padding-top: 4px;

                    & .row {
                        font-size: 1rem;
                        padding-right: 15px;

                        & span {
                            padding-left: 5px;
                        }
                    }
                }

                & button {
                    margin-top: 39px;
                }
            }
        }
    }
}